/* root settings */
:root {
    --text-color: #3A3A3A;
    --primary-color: #E02C6D;
    --border-color: black;
}

* {
    margin: 0;
    padding: 0;
}

/* shared styles */

.flex {
    display: flex;
}


/* header */

header {
    height: calc(100vh - 30px);
}

/* navbar */

.nav-bar {
    justify-content: space-between;
    align-items: center;
    margin: 30px 120px;
    color: var(--text-color);
}

ul {
    gap: 35px;
    align-items: center;
}

ul > li {
    list-style-type: none;
}

ul a {
    text-decoration: none;
    color: var(--text-color);
}

/* banner */

.banner {
    color: var(--text-color);
    align-items: center;
    gap: 60px;
    padding-top: 50px;
}

.banner-content {
    margin-left: 120px;
    max-width: 582px;
}

.banner-title {
    font-size: 2.5rem;
}

.banner-description {
    margin: 10px 0;
}

.banner-image {
    background-image: url('/images/Circle\ design.svg');
    background-size: cover;
}

.banner-img {
    width: 100%;
}

.primary-btn {
    background-color: var(--primary-color);
    padding: 10px 25px;
    border-radius: 40px;
    outline: none;
    border: none;
    color: white;
    margin-top: 15px;
    cursor: pointer;
}

/* sponsore section */

.sponsore-section {
    width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


/* responsive media query */

/* mobile device */
@media screen and (max-width: 576px) {
    header {
        height: auto;
    }
    .nav-bar,
    .nav-bar-menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 30px 0 0 0;
    }

    .banner {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 30px;
        width: 90%;
        margin: 0 auto;
    }

    .banner-content {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 50px;
    }

    .banner-image {
        width: 90%;
    }

    .sponsore-section {
        gap: 20px;
        justify-content: center;
    }

}